## Téléchargement du fichier et des librairies

In [53]:
import pandas as pd
import seaborn as sns
import numpy as np
import os

funnel = pd.read_csv('/Users/marie-christine/Documents/mooc/funnel.csv', sep=',')

#### Infos sur le dataFrame

In [54]:
print(funnel.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91466 entries, 0 to 91465
Data columns (total 11 columns):
date                              91466 non-null int64
visitId                           91466 non-null int64
fullVisitorId                     91466 non-null int64
hits_time                         91466 non-null int64
hits_page_pagePath                91466 non-null object
hits_type                         91466 non-null object
hits_eventInfo_eventCategory      52257 non-null object
hits_item_transactionId           645 non-null object
hits_product_v2ProductName        20386 non-null object
hits_product_v2ProductCategory    20386 non-null object
hits_product_productQuantity      11115 non-null float64
dtypes: float64(1), int64(4), object(6)
memory usage: 7.7+ MB
None

In [55]:
funnel.head()

,date,visitId,fullVisitorId,hits_time,hits_page_pagePath,hits_type,hits_eventInfo_eventCategory,hits_item_transactionId,hits_product_v2ProductName,hits_product_v2ProductCategory,hits_product_productQuantity
0,20180703,1530622884,1593920987084845987,0,/Boutique/Boutique_web/Acquisition/Forfaits_sa...,PAGE,NaN,NaN,NaN,NaN,NaN
1,20180703,1530622884,1593920987084845987,38320,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,PAGE,NaN,NaN,NaN,NaN,NaN
2,20180703,1530622884,1593920987084845987,38543,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,EVENT,engagement,NaN,NaN,NaN,NaN
3,20180703,1530622884,1593920987084845987,38543,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,EVENT,AB Tasty,NaN,NaN,NaN,NaN
4,20180703,1530622884,1593920987084845987,38544,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,EVENT,technique,NaN,NaN,NaN,NaN

#### changement du format date

In [56]:
funnel['date'] = pd.to_datetime(funnel['date'])

#### suppression des colonnes inutiles

In [57]:
funnel = funnel.drop(funnel.columns[6:], axis =1)

In [58]:
funnel.head()

,date,visitId,fullVisitorId,hits_time,hits_page_pagePath,hits_type
0,1970-01-01 00:00:00.020180703,1530622884,1593920987084845987,0,/Boutique/Boutique_web/Acquisition/Forfaits_sa...,PAGE
1,1970-01-01 00:00:00.020180703,1530622884,1593920987084845987,38320,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,PAGE
2,1970-01-01 00:00:00.020180703,1530622884,1593920987084845987,38543,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,EVENT
3,1970-01-01 00:00:00.020180703,1530622884,1593920987084845987,38543,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,EVENT
4,1970-01-01 00:00:00.020180703,1530622884,1593920987084845987,38544,/Boutique/Boutique_web/Acquisition/BYOU2H_50Mo...,EVENT